<template>
  <div>
    <b-container>
      <h1>{{ $t('session.form.title') }}</h1>
      <b-alert :show="error.show" variant="danger">{{ $t(error.text) }}</b-alert>
      <b-form @submit="loginAction" >
        <b-form-group id="usernameformgroup"
                      :label="$t('session.form.username.label')">
          <b-form-input
            label="username"
            type="text"
            v-model="credentials.username"
            required
            :state="state.valid"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group id="passwordformgroup"
                      :label="$t('session.form.password.label')"
                      :description="$t('session.form.password.desc')">
          <b-form-input
            label="password"
            type="password"
            v-model="credentials.password"
            required
            :state="state.valid"
          >
          </b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">{{ $t('session.form.login_btn') }}</b-button>
        <b-button variant="outline-primary" @click="$router.push({ name: 'Register' })">{{ $t('registration.form.register_btn') }}</b-button>
        <b-button variant="link" :to="{ name: 'ResendConfirmation' }">{{ $t('session.form.resend_confirmation_instructions') }}</b-button>
        <b-button variant="link" :to="{ name: 'SendPasswordReset' }">{{ $t('session.form.reset_password') }}</b-button>
      </b-form>
    </b-container>
  </div>
</template>

<script>
import auth from '@/auth';

export default {
  data() {
    return {
      credentials: {
        username: '',
        password: '',
      },
      error: {
        show: false,
        text: '',
      },
      state: {
        valid: null,
      },
    };
  },
  methods: {
    async loginAction(e) {
      e.preventDefault();
      auth.login(JSON.stringify(this.credentials), (data) => {
        console.log(data);
        this.$store.commit('LOGIN_USER', data.user);
        this.$snotify.success(this.$t('session.success.login', { username: data.user.username }));
        this.$router.push({ name: 'MyStories' });
      }, (error) => {
        Promise.resolve(error).then((errormsg) => {
          console.log(errormsg);
          this.error.show = true;
          this.state.valid = false;
          this.error.text = errormsg.display_error;
        });
      });
    },
  },
};
</script>
