<template>
  <div>
    <b-container>
      <div>
        <h1>{{ $t('password_reset.post.form.title') }}</h1>
      </div>
      <b-form @submit="resetAction" v-if="!validationSent">
        <p>{{ $t('password_reset.post.form.description') }}</p>
        <b-alert variant="danger" :show="state.token.status === false">
          {{ $t(state.token.msg) }}
        </b-alert>
        <b-form-group id="passwordformgroup"
                      :label="$t('password_reset.post.form.new_password.label')">
          <b-form-input
            label="password"
            type="password"
            v-model="credentials.password"
            required
            :state="state.password.status"
          >
          </b-form-input>
          <b-form-invalid-feedback>
            {{ $t(state.password.msg) }}
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="passwordconfirmationformgroup"
                      :label="$t('password_reset.post.form.new_password_confirmation.label')"
                      :description="$t('password_reset.post.form.new_password_confirmation.desc')">
          <b-form-input
            label="password"
            type="password"
            v-model="credentials.password_confirmation"
            required
            :state="state.password_confirmation.status"
          >
          </b-form-input>
          <b-form-invalid-feedback>
            {{ $t(state.password_confirmation.msg) }}
          </b-form-invalid-feedback>
        </b-form-group>
        <b-button type="submit" :disabled="!samePasswords" variant="primary">{{ $t('password_reset.post.form.reset_password_btn') }}</b-button>
        <b-button variant="outline-primary" @click="$router.push({ name: 'Login' })">{{ $t('session.form.login_btn') }}</b-button>
      </b-form>
      <div v-else>
        <h2>{{ $t('registration.form.validation_sent', { email: credentials.email }) }}</h2>
        <b-alert show variant="info">{{ $t('registration.form.validation_sent_info') }}</b-alert>
      </div>
    </b-container>
  </div>
</template>

<script>
import fetchStory from '@/api/fetch';

export default {
  name: 'PasswordReset',
  props: {
    token: {
      type: String,
      required: true,
    },
  },
  computed: {
    samePasswords() {
      return this.credentials.password.length >= 6 &&
          this.credentials.password === this.credentials.password_confirmation;
    },
  },
  data() {
    return {
      credentials: {
        password: '',
        password_confirmation: '',
      },
      error: {
        show: false,
      },
      validationSent: false,
      state: {
        token: {
          status: null,
          msg: '',
        },
        password: {
          status: null,
          msg: '',
        },
        password_confirmation: {
          status: null,
          msg: '',
        },
      },
    };
  },
  methods: {
    resetAction(e) {
      this.resetState();
      e.preventDefault();
      console.log(this.token);
      fetchStory('/users/password-reset/post', this.$store, { method: 'POST', body: JSON.stringify({ password: this.credentials.password, token: this.token }) }).then((data) => {
        localStorage.setItem('token', data.token);
        localStorage.setItem('refresh_token', data.refresh_token);
        this.$store.commit('LOGIN_USER', data.account);
        this.$snotify.success(this.$t('registration.success.login', { username: data.account.username }));
        this.$router.push({ name: 'Home' });
      }, (error) => {
        Promise.resolve(error).then((errormsg) => {
          console.log(errormsg);
          this.error.show = true;
          Object.entries(errormsg.errors).forEach(([key, val]) => {
            console.log(key);
            console.log(val[0]);
            this.state[key] = { status: false, msg: val[0] };
            console.log(this.state);
          });
        });
      });
    },
    resetState() {
      this.state = {
        token: {
          status: null,
          msg: '',
        },
        password_confirmation: {
          status: null,
          msg: '',
        },
        password: {
          status: null,
          msg: '',
        },
      };
    },
  },
};
</script>
