<template>
  <div>
    <b-container>
      <div>
        <h1>{{ $t('registration.form.title') }}</h1>
      </div>
      <b-form @submit="resendConfirmationAction" v-if="!validationSent">
        <b-form-group id="emailformgroup"
                      :label="$t('registration.form.email.label')"
                      :description="$t('registration.form.email.desc')">
          <b-form-input
            label="email"
            type="email"
            v-model="credentials.email"
            required
          >
          </b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">{{ $t('registration.resend_confirmation.form.resend_btn') }}</b-button>
        <b-button variant="outline-primary" @click="$router.push({ name: 'Login' })">{{ $t('session.form.login_btn') }}</b-button>
      </b-form>
      <div v-else>
        <div v-if="error">
          <b-alert show variant="danger">{{ $t('registration.resend_confirmation.failure') }}</b-alert>
        </div>
        <div v-else>
          <h2>{{ $t('registration.form.validation_sent', { email: credentials.email }) }}</h2>
          <b-alert show variant="info">{{ $t('registration.form.validation_sent_info') }}</b-alert>
        </div>
      </div>
    </b-container>
  </div>
</template>

<script>
import fetchStory from '@/api/fetch';

export default {
  name: 'ResendConfirmation',
  data() {
    return {
      credentials: {
        email: '',
      },
      validationSent: false,
      error: false,
    };
  },
  methods: {
    resendConfirmationAction(e) {
      e.preventDefault();
      fetchStory('/users/resend', this.$store, { method: 'POST', body: JSON.stringify(this.credentials) }).then(() => {
        this.validationSent = true;
      }).catch((err) => {
        Promise.resolve(err).then(() => {
          this.error = true;
          this.validationSent = true;
        });
      });
    },
  },
};
</script>
