<%= gettext "Password reset" %>

==

<%= gettext "You requested a new password for your account on %{host}.", host: @instance %>

<%= gettext "If you didn't request this, please ignore this email. Your password won't change until you access the link below and create a new one." %>

<%= PickweaverWeb.Endpoint.url() <> "/password-reset/#{@token}" %>


